<ul class="nav nav-tabs py-2">
  <a class="navbar-brand" routerLink="/"><img src="../../assets/logo-stack.png" class="" height="35"/></a>

  <li class="nav-item">
    <a class="nav-link" routerLink="/user" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/opdrachten" routerLinkActive="active">Opdrachten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rewards" routerLinkActive="active">Rewards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Instellingen</a>
  </li>
</ul>
