<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm sticky-top">
  <a class="navbar-brand" routerLink="/"><img src="../../assets/logo-stack.png" class="" height="35"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto" (click)="isCollapsed = !isCollapsed">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/opdrachten" routerLinkActive="active">Opdrachten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rewards" routerLinkActive="active">Rewards</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class=" dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Beheren</a>
        <div class="dropdown-menu dropdown" aria-labelledby="id01"
             ngbDropdownMenu
             (click)="isCollapsed = !isCollapsed">
          <a class="dropdown-item" routerLink="/admin/opdrachten">Opdrachten</a>
          <a class="dropdown-item" routerLink="/admin/rewards">Rewards</a>
          <a class="dropdown-item" routerLink="/admin/gebruikers">Gebruikers</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
