<div class="row" >
  <img class=" m-3 rounded-circle" src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/46483094_2054709364587306_9076627645893967872_n.jpg?_nc_cat=111&_nc_ht=scontent-bru2-1.xx&oh=49c3476441195171a2689e81d3bab9b5&oe=5C71C55E" width="70" height="70" alt="Generic placeholder image">
  <div class="col align-bottom" style="display: flex; align-items: center;" >
    <div>
      <h2 class="m-0 p-0">Jakob Robijns</h2>
      <span class="text-muted">IT Consultent</span>
    </div>

  </div>

</div>

