<div class="card m-2 shadow">
  <div class="card-body">
    <div class="card-text">
      <div class="row">
        <div class="col-9 col-md-12 text-primary">
          <b>{{ item.titel }}</b>
        </div>
        <div class="col-auto ml-auto ml-md-0">
          <div class="punt">
            <p>{{ item.punten }} <i class="fas fa-coins"></i></p>
          </div>
        </div>
      </div>
      <p *ngIf="!showMore">{{ item.short }}...</p>
      <p *ngIf="showMore">{{ item.omschrijving }}</p>
      <div class="row">
        <div class="mx-auto">
          <button class="btn btn-link"
                  *ngIf="!showMore"
                  (click)="showMore=true">+ Meer</button>
          <button class="btn btn-link"
                  *ngIf="showMore"
                  (click)="showMore=false">- Minder</button>

        </div>
        <button *ngIf="showMore" type="button" class=" mx-auto btn btn-outline-secondary"><i class="fas fa-check-circle"></i> Voltooi</button>
      </div>

      <!--<button type="button"
              class="btn btn-link btn-edit"
              *ngIf="aanpasbaar"><i class="fas fa-save"></i></button>
      <button type="button"
              class="btn btn-link btn-cancel"
              *ngIf="aanpasbaar"><i class="fas fa-times"></i></button>-->
      <button class="btn btn-link btn-edit"
              *ngIf="aanpasbaar"><i class="fas fa-pencil-alt"></i></button>
      <button class="btn btn-link btn-del"
              *ngIf="aanpasbaar"><i class="fas fa-trash"></i></button>
      <!--todo knoppen voor edit maken-->
    </div>
  </div>
</div>
