.fa-coins{
  color: gold;
}

.btn-del {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn-edit {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.btn-cancel {
  position: absolute;
  bottom: 10px;
  right: 90px;
}

b{
  word-wrap: break-word;
  overflow-wrap: break-word;
}
