<div class="row">
  <div class="col-12">
    <button class="btn btn-dark" *ngIf="!showNew" (click)="showNew=true">+ Nieuw</button>
    <div class="card shadow" *ngIf="showNew">
      <div class="card-body">
        <b class="card-title text-primary">Nieuwe gebruiker</b>
        <form #userAddForm="ngForm" (submit)="addUser(userAddForm.value)">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" class="form-control"
                   [class.is-valid]="email.touched && email.valid"
                   [class.is-invalid]="email.touched && email.invalid"
                   required
                   email
                   name="email"
                   #email="ngModel"
                   (ngModel)="email"/>
            <div *ngIf="email.errors  && (email.touched || email.dirty)" class="text-danger">
              <small *ngIf="email.errors['required']">Vul een e-mailadres in!</small>
              <small *ngIf="email.errors['email']">E-mailadres is niet geldig!</small>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Wachtwoord:</label>
            <input type="text" id="password" class="form-control"
                   [class.is-valid]="password.touched && password.valid"
                   [class.is-invalid]="password.touched && password.invalid"
                   required
                   password
                   name="password"
                   #password="ngModel"
                   (ngModel)="password"/>
            <div *ngIf="password.errors  && (password.touched || password.dirty)" class="text-danger">
              <small *ngIf="email.errors['required']">Vul een e-mailadres in!</small>
              <small *ngIf="email.errors['password']">Wachtwoord is niet geldig!</small>
            </div>
          </div>
          <div class="form-row">
            <div class="col-auto ">
              <button type="submit" class="btn btn-dark"
                      [disabled]="userAddForm.invalid">Opslaan
              </button>
            </div>
            <div class="col-auto ">
              <button type="button" class="btn btn-dark"
                      (click)="clearNewUser()">Annuleren
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 my-2">
    <div class="row">
      <div class="col-12">
        <div class="progress mb-3" *ngIf="preloader">
          <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" style="width:100%"></div>
        </div>
      </div>
      <app-user-item
        class="col-12"
        *ngFor="let user of usersList; let i = index"
        [item]="user"
        [index]="i"
        (update)="readUsers()">
      </app-user-item>
    </div>
  </div>
</div>
