// Overschrijf BS variabelen en mixins
/*


 */

$orange : #f49900;
$green : #71b643;
$blue : #08ace1;
$dark : #333e47;
$light : #f4f4f4;
$grey : #464a4c;

$theme-colors: (
  'primary' : $orange,
  'secondary' : $green,
  'light': $light,
  'dark': $dark
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


/* Belangrijkste code */
body{
  background-color: $light;
  color: $dark;

}
/*  header */
.bg-gradient-blue{
  background: linear-gradient(to bottom,#0078d7 0%,$blue);
  box-shadow: 0 12px 45px -8px rgba(0,120,215,.35);
}
#header{
  color: white;

  h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
  }
  p, span{
    padding: 3px 0 1px;
  }
  .text-muted{
    color: rgba(255,255,255,0.6) !important;
  }

}

// Eigen code/partials
.btn {
  cursor: pointer;
}

a:hover, a:focus{
  text-decoration: none;
}

/*  cards */


/*  nav-tabs   */
.navbar-nav{
  border-bottom: none;
}
.navbar-nav .nav-link.active{
  color: #495057;
  border: none;
  border-bottom: 2px solid $blue;
  background-color: inherit;
  transition: all}
.navbar-nav .nav-link{
  color: #495057;
  background-color: inherit;
  padding: 0px;
  margin: 0.5rem 1rem;
  border: none;
}

.progress-bar{
  width: 0;
  transition: width 2s;
}
